.services_container_cards {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  position: relative;
  z-index: 1;
  align-items: center;
}

.services_container_cards a {
  text-decoration: none;
  width: 100%;
  max-width: 750px;
}

.transport_container {
  display: flex;
  width: 100%;
  height: 140px;
  transition: transform 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  box-shadow: -5px 10px 5px 5px rgba(0, 0, 0, 0.115);
  max-width: 750px;
  margin: 0 auto;
}

.transport_image {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #184490;
  /* border-start-start-radius: 20px;
  border-end-start-radius: 20px; */
}

.transport_image {
  filter: contrast(1);
}

.transport_image svg {
  color: white;
  padding: 25px;
  color: #ffffff;
  font-size: 10rem;
  height: 70px;
}

.transport_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 0px 0px 10px;
  gap: 5px;
  line-height: 1rem;
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.155);
  border-left: none;
}

.service_name {
  font-size: 1.2rem;
  font-weight: 900;
  letter-spacing: 0.05rem;
  color: #152d5c;
  filter: contrast(1.5);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px 0px 0px;
}

.numero_de_rutas {
  width: fit-content;
  opacity: 0.9;
  padding: 5px;
  border-radius: 10px;
  font-weight: 1000;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 5px;
  color: #152d5c;
}
.status_service {
  background-color: #1b77f5;
  font-weight: 1000;
  padding: 7px;
  display: flex;
  align-items: center;
  gap: 7px;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  letter-spacing: 0.7px;
  width: fit-content;
}
