.main_container {
  min-height: 100vh;
  background-color: #dcdcdc;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.main_container::-webkit-scrollbar {
  display: none;
}

.main_container::before {
  content: " ";
  width: 100%;
  height: 200px;
  position: absolute;
  z-index: 1;
  border-end-end-radius: 50px;
  border-end-start-radius: 50px;
  background-color: #135fe2;
}

.page-transition {
  opacity: 1;
  transition: opacity 0.3s cubic-bezier(0.77, 0, 0.175, 1);
}

.page-transition-exit {
  opacity: 0;
}


