@import url("https://fonts.googleapis.com/css2?family=Madimi+One&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap");

*,
*::after,
*::before {
  min-width: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img,
video,
svg {
  max-width: 100%;
  display: block;
}

body {
  margin: 0;
  height: 100dvh;
}

h1,
h2,
h3 {
  text-wrap: balance;
  font-family: "Rethink Sans", sans-serif;
  font-optical-sizing: auto;
}

p,
input,
form,
span,
button {
  text-wrap: pretty;
  font-family: "Rethink Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
}

::selection {
  color: none;
  background-color: none;
}

.loader {
  width: 15px;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: l5 1s infinite linear alternate;
  position: absolute;
  left: calc(50%);
  top: calc(50%);
}

@keyframes l5 {
  0% {
    box-shadow: 20px 0 #000, -20px 0 #0002;
    background: #000;
  }
  33% {
    box-shadow: 20px 0 #000, -20px 0 #0002;
    background: #0002;
  }
  66% {
    box-shadow: 20px 0 #0002, -20px 0 #000;
    background: #0002;
  }
  100% {
    box-shadow: 20px 0 #0002, -20px 0 #000;
    background: #000;
  }
}

@media screen and (max-width: 1000px) {
  .transport_container > .transport_info > .service_name svg {
    opacity: 1;
  }
}
